@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(/fonts/ubuntu.woff) format('woff');
}

body {
  font-family: 'Ubuntu';
  background-color:RGB(255,254,254);
}

.actions {
  background-color:RGB(254,238,195);
  text-align:center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  a {
    color: RGB(20,77,105);
    text-decoration:none;
  }
  a:hover {
    color: RGB(201,49,20);
  }
}



