!!!
%html
  %head
    %title Bait
    %link{rel:'stylesheet', href:'css/styles.css'}
    %script{src:'js/zepto.min.js'}
    %script{src:'js/ansi2html.js'}
    %script{src:'js/main.js'}
  %body
    #nav
      %a{href:'/'}Home
    #content
      = yield

