!!!
%html
  %head
    %title Bait
    %link{rel:'stylesheet', href:'/css/reset.css'}
    %link{rel:'stylesheet', href:'/css/application.css'}
    %script{src:'/js/zepto.min.js'}
    %script{src:'/js/ansi2html.js'}
    %script{src:'/js/application.js'}
  %body
    #content
      = yield
    %hr
    #footer
      %center Bait/#{Bait::VERSION} #{Bait.env}

