!!!
%html
  %head
    %title Bait
    %link{rel:'stylesheet', href:nocache('/stylesheets/application.css')}
    %script{src:'/javascript/zepto.min.js'}
    %script{src:'/javascript/ansi2html.js'}
    %script{src:nocache('/javascript/application.js')}
  %body
    #nav
      %a{href:'/'}Home
    #content
      = yield

